[GLOBAL]
DOMAIN=your_domain_here

[TWITTER]
TOKEN=your_token_here
USERID=your_twitter_user_id_here

[GATHER]
API_KEY=your_gather_town_API_key_here
SPACE_ID=your_gather_town_space_id_here
OBJECT_NAME=tweetd
MAP_ID=your_gather_town_map_id_here