[GLOBAL]
DOMAIN=https://gather.goodpraxis.coop

[TWITTER]
TOKEN=AAAAAAAAAAAAAAAAAAAAANLrZQEAAAAAmoJiKrD5h375nq9hBpoKJazkN3Y%3DCB5zXLItfGgBoWR258Vr58EwgiyRi4LrmqfARMK7vUFtuEuREl
USERID=1083866306414288896

[GATHER]
API_KEY=api_key
SPACE_ID=space_id
OBJECT_NAME=tweetdisplay
